@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Donate";
}

@section Styles{
    <link href="~/css/User/donate.css" rel="stylesheet" />
}
<!-- Page Header Start -->
<div class="d-page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Donate</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">Donate</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<div class="main">
    <h1>Thank @Context.Session.GetString("FullName") for your Donate</h1>
    <!---728x90--->
</div>
