@model DonateCategory

@{
    var title = "Create Donate Category";
}

<form method="post" enctype="multipart/form-data" class="mt-5">
    @if (Model.Id != 0)
    {
        title = "Update Donate Category";
        <input asp-for="Id" hidden />

    }
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3"> @title</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        Photo
                    </div>
                    <div class="col-8">
                        <input type="file" name="files" id="uploadBox" multiple class="form-control" />

                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            @if (Model.Id != 0)
                            {
                                //update
                                <input type="submit" class="btn btn-info w-100" value="Update" />

                            }
                            else
                            {
                                //create
                                <input type="submit" onclick="return validationInput()" class="btn btn-primary w-100" value="Create" />

                            }
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">
                                <i class="fas fa-sign-out-alt"></i>  Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
                @if (Model.Id != 0)
                {
                    <img src="@linkImage.imgPath@Model.Photo" width="100%" style="border-radius:5px; border:1px solid #bbb" />
                    
                }
            </div>
        </div>
    </div>



</form>


@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>
        function validationInput() {
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire(
                    'Error!',
                    'Please upload an Image!',
                    'error'
                )

                return false;
            }

            return true;
        }
    </script>

}


