@model Query
@using Microsoft.AspNetCore.Http


<form method="post" class="mt-5">

    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3"> Delete Common Question</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Title"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Title" class="form-control" disabled />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Content"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Content" class="form-control" rows="4" cols="50" disabled></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>

                </div>



                <input type="hidden" asp-for="AccountId" value="@Context.Session.GetInt32("AccountId")" />


                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">


                            <a asp-action="IndexCommon" class="btn btn-success w-100">
                                <i class="fas fa-sign-out-alt"></i>  Back
                            </a>

                        </div>
                      
                    </div>
                </div>
            </div>
            <div class="col-4">

            </div>
        </div>
    </div>



</form>


@section Scripts{

    @{
                        <partial name="_ValidationScriptsPartial" /> }


}


