@{
    ViewData["Title"] = "About";
}
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>About Us</h2>
            </div>
            <div class="col-12">
                <a href="@Url.Content("~/User/Home")">Home</a>
                <a href="#">About Us</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img" data-parallax="scroll" data-image-src="../../images/img/facts.jpg"></div>
            </div>
            <div class="col-lg-6">
                <div class="section-header">
                    <p>Learn About Us</p>
                    <h2>Worldwide non-profit charity organization</h2>
                </div>
                <div class="about-tab">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#tab-content-1">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab-content-2">Mission</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab-content-3">Vision</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab-content-1" class="container tab-pane active">
                            The pain itself is love, the main storage system. The life of the kids is ugly. It's in the bureau's housing, or the mass is flattering. As the arches take the course. There is no gate to the man tomorrow, so that he may invest his laughter. No need to wish the mourning was great. Phasellus et felis sed purus tristique dignissim. Morbi sit amet leo at purus accumsan pellentesque. But live yeast or protein flats. The pain itself is love, the main storage system.
                        </div>
                        <div id="tab-content-2" class="container tab-pane fade">
                            But start, as the great vehicles of the weekend, the disgraceful sauce of the just, lay down the ugly mass in the mi. Proin to decorate at the mass at the warm Now the bananas, but only the arrows to decorate. For ever the torturer needs to be scared, the arrows are now the members of the EU. Sometimes the hunger and the unbelievable hunger in front of him, especially in the throat. Praesent bibendum sapien sed purus molestie malesuada. The pain itself is love, the main storage system.
                        </div>
                        <div id="tab-content-3" class="container tab-pane fade">
                            I hate the pain, but the soft Now that's an asset. Suspendisse at hendrerit enim. Sometimes the hunger and the unbelievable hunger in front of him, especially in the throat. But the sauce is always ugly or easy. Now or the throat of the orcs. Mauris ut mauris Zen, it becomes nothing but at, how poisonous. It's the price of poverty that is important for the ends. The pain was at the annoyance, the vehicle needs to stop, the consequences were unconventional.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Facts Start -->
<div class="facts" data-parallax="scroll" data-image-src="../../images/img/facts.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-home"></i>
                    <div class="facts-text" style="margin-top: 25px;">
                        <p>Countries</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-charity"></i>
                    <div class="facts-text" style="margin-top: 25px;">
                        <p>Volunteers</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-kindness"></i>
                    <div class="facts-text" style="margin-top: 25px;">
                        <p>Our Goal</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-donation"></i>
                    <div class="facts-text" style="margin-top: 25px;">
                        <p>Raised</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->
<!-- Team Start -->
<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Meet Our Team</p>
            <h2>Awesome guys behind our charity activities</h2>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            <div class="col">
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/images/phuongmember.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Phuong Nguyen</h2>
                        <p>Leader</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/images/sangmember.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Sang Tran</h2>
                        <p>Member</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/images/tienmember.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Tien Thuy</h2>
                        <p>Member</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/images/GOOGLE.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Sir Google</h2>
                        <p>Supervisor</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            <div class="col">
            </div>
            <div class="col">
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/images/phucmember2.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Van Phuc</h2>
                        <p>Member</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/images/Hieu-PC.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Minh Hieu</h2>
                        <p>Member</p>
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
            </div>

        </div>
    </div>
</div>
<!-- Team End -->

<!-- Testimonial Start -->
<div class="testimonial">
    <div class="container">
        <div class="section-header text-center">
            <p>Testimonial</p>
            <h2>What people are talking about our charity activities</h2>
        </div>
        <div class="owl-carousel testimonials-carousel">
            <div class="testimonial-item">
                <div class="testimonial-profile">
                    <img src="~/images/img/testimonial-1.jpg" alt="Image">
                    <div class="testimonial-name">
                        <h3>Adam</h3>
                        <p>Profession</p>
                    </div>
                </div>
                <div class="testimonial-text">
                    <p>
                        Harness the power of video storytelling to reach audiences globally and spread your goals.
                    </p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-profile">
                    <img src="~/images/img/testimonial-2.jpg" alt="Image">
                    <div class="testimonial-name">
                        <h3>John</h3>
                        <p>Profession</p>
                    </div>
                </div>
                <div class="testimonial-text">
                    <p>
                        Develop compelling data visualizations to track and share your organization's impact.
                    </p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-profile">
                    <img src="~/images/img/testimonial-3.jpg" alt="Image">
                    <div class="testimonial-name">
                        <h3>Person Name</h3>
                        <p>Profession</p>
                    </div>
                </div>
                <div class="testimonial-text">
                    <p>
                        Spread the word about your organization's mission, attract new supporters, and raise funds online. in many ways.
                    </p>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-profile">
                    <img src="~/images/img/testimonial-4.jpg" alt="Image">
                    <div class="testimonial-name">
                        <h3>Tina</h3>
                        <p>Profession</p>
                    </div>
                </div>
                <div class="testimonial-text">
                    <p>
                        The pain itself is a lot of pain. It's easy to decorate my website. Some fear the torturer.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
