@*@model NGOWebApp.Models.ViewModels.AccountVM*@
@{
    TempData["Title"] = "Change Password";
}

<link href="~/css/User/userprofile.css" rel="stylesheet" />

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>
<!-- Page Header End -->
<div class="container">
    <div class="row profile">
        @await Html.PartialAsync("~/Areas/User/Views/Shared/_UserProfile.cshtml")
        <div class="col-md-9">
            <div class="profile-content">
                <div class="row">
                    <div class="col-8">
                        <form asp-action="ChangePassword" asp-controller="Account" asp-area="User" method="post">                    
                            <div class="form-row">
                                <div class="col-md-6">
                                    <span class="text-success">@ViewBag.Success</span>
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputCurrentPass">Current Password</label>
                                        <input class="form-control py-4" type="password" placeholder="Enter Password" name="oldPass" />
                              
                                        <span class="text-danger">@ViewBag.oldPass</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputNewPassword">New Password</label>
                                        <input class="form-control py-4" type="password" placeholder="Enter password" name="newPass" id="newpassword" />                               
                                        <span class="text-danger">@ViewBag.newPass</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputConfirmPassword">Confirm Password</label>
                                        <input class="form-control py-4" type="password" placeholder="Confirm password" name="confirmpassword" id="confirm_newpassword" />
                                        <span class="text-danger" id="message"></span>
                                    </div>
                                </div>
                            </div>
                            @*@if (Model.ExistsPass == true)
                            {
                                <p style="color:red">Password already</p>}*@
                            <div class="form-group mt-4 mb-0"><input type="submit" class="btn btn-primary btn-block" value="Update" /></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />

    }
    <script>
        $('#newpassword, #confirm_newpassword').on('keyup', function () {
            if ($('#newpassword').val() == $('#confirm_newpassword').val()) {
                $('#message').html('Matching').css('color', 'green');
            } else
                $('#message').html('Not Matching').css('color', 'red');
        });
    </script>
}