@model Account
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Forgot Passowrd</h2>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Reset Password</h3></div>
                <div class="card-body">
                    <form asp-action="ResstPassword" asp-controller="Account" asp-area="User" method="post">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputFulltName">Code Reset</label>
                                    <input class="form-control" type="text" placeholder="Enter code form your email" name="ressetPass" />
                                    @if (ViewBag.Error != null)
                                    {
                                        <span class="text-danger">@ViewBag.Error</span>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputPassword">New Password</label>
                                    <input class="form-control py-4" type="password" placeholder="Enter your new password" asp-for="Password" id="password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="small mb-1" for="inputConfirmPassword">Confirm Password</label>
                                    <input class="form-control py-4" type="password" placeholder="Confirm password" name="confirmpassword" id="confirm_password" />
                                    <span class="text-danger" id="message"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-4 mb-0"><input type="submit" class="btn btn-primary btn-block" value="Reset Password" /></div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <div class="large"><a asp-action="Login" asp-controller="Account" asp-area="User">Have an account? Go to login</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    @{
                        <partial name="_ValidationScriptsPartial" />

    }

    <script>$('#password, #confirm_password').on('keyup', function () {
            if ($('#password').val() == $('#confirm_password').val()) {
                $('#message').html('Matching').css('color', 'green');
            } else
                $('#message').html('Not Matching').css('color', 'red');
        });</script>

}
